In [ ]:
ASSIGNMENT 1

In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*,'hello', -87.8,-,/,+,6

In [ ]:
There are 4 operaters and 3 expressions
operaters = * , - , / , +
expressions = 'hello', -87.8 , 6

In [ ]:
2. What is the difference between string and variable?

In [ ]:
A variable is used to store the information and a string is an information that is stored in a variable.we need to assign
string to an variable. and we can assign value to the variable.

ex: a = 5 , b = 'nithin'
    
A String is a group of characters or a single character usually enclosed in Double quotes " " or single quotes ' '.
Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings. 
Example: my_string = 'nithin, or "nithin".

In [ ]:
3. Describe three different data types.

In [ ]:
There are 3 types of data 'int', 'float','complex' and 'str'

'int'    : we can used to represent a whole number or integral value. ex int_num = 10
'float'  : we can used to represent a floating point values or decimal number values float_num = 10.10
'complex': we can used to represent a complex number. where complex num = real num + imaginary num.
           ex: complex_num = 40 + 6j where 40 is real num and 6j is imaginary num.
'string' : we can use a single character or group character which is enclosed by single or double quates.'' or " "
           ex : str_chr = 'nithin' or '110'

In [3]:
# ex for int data type:
int_num = 110
print(int_num, type(int_num))

# ex for float data type:
float_num = 11.11
print(float_num, type(float_num))

# ex for complex data type:
complex_num = 11 + 11j
print(complex_num, type(complex_num))

#ex for string data type
string_chr = '10'
print(string_chr, type(string_chr))

110 <class 'int'>
11.11 <class 'float'>
(11+11j) <class 'complex'>
10 <class 'str'>

In [ ]:
4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. 
If we ask Python to print an expression, the interpreter evaluates the expression and displays the result. 
An expression is evaluated as per the precedence of its operators. 
So that if there is more than one operator in an expression, their precedence decides which operation will be performed first.

In [5]:
# ex for expression :

10*20/5+3-6 # this is an expression that python will interpretes and provides output as 58. 
# which will be calc on basis of BADMAS RULE

37.0

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
Statements represent an action or command. This is an instruction that python will interprete. when we type a statements, then 
python interpretes and gives a results as statements.
ex: print statements, assignment statements,looping and conditional statements.
ex: my_name = " My name is nithin " 
    
Expression is a combination of variables, operations and values that yields a result in terms of value. when we provides
expression in the prompt, then interpreter evaluates it and gives us a proper output. It performs on the basis of operaters,
if there are more than one operater then based on the precedence that provides the output. ex: *,+,-,/

In [10]:
# ex for expression:
5*6/2-8+10 

# ex for statements:
my_name = "My name is nithin" # this is a statement
print("nithin")

nithin

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [ ]:
The variable bacon is set to 22 .The expression bacon + 1 does not reassign the value in bacon 
(that would the case if the expression is like bacon = bacon + 1 instead of bacon + 1)

variable bacon conatins 22 and the out of the bacon + 1 is 23

In [13]:
# ex 
bacon = 22
bacon + 1
print(bacon)

22

In [14]:
# ex 2
bacon = 22
bacon + 1

23

In [ ]:
7. What should the values of the following two terms be?
'spam'+'spamspam'
'spam'*3

In [ ]:
Both expressions evaluate to the string 'spamspamspam' Where as the first expression follows String Concatentation 
 second expression follows String Multiplication

In [15]:
#'spam'+'spamspam' # string concatinatio
print('spam'+'spamspam')

#'spam'*3 # string multiplication
print('spam'*3)

spamspamspam
spamspamspam

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
As per python, variable cannot be begin with a variabl. Rules of variable are:

    1. Variable can start with a letter or underscore character.
    2. Variable cannot start with with number character.
    3. Variable can start with alpha numeric and underscore character(a to z , 0 to 9 , _).
    4.Variable names are case sensitive ( name and NAME are different variable)
    5. Reserved words(keywords) cannot be used as variable.

In [18]:
# ex 8

eggs = "nithin" # valid variable
100 = "nithin" # Invalid Variable

print(eggs)
print(a100)

SyntaxError: cannot assign to literal (794158629.py, line 4)

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
int(), float(), str() functions will convert the values into respective integer, floating point number and string

In [30]:
#ex 9 
 
print('int(10) -',int(10) , type(int(10))) # int() converts input to int
print('float(10) -',float(10) , type(float(10))) # float() converts input to float
print('str(10) -', str(10) , type(str(10))) # str() converts input to str

int(10) - 10 <class 'int'>
float(10) - 10.0 <class 'float'>
str(10) - 10 <class 'str'>

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + 'burritos.'

In [31]:
'I have eaten ' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
reason for above error is 99 is not an string and we can not concatinate string with an int. so we need to do typecasting
for 99 to resolve this error.

In [34]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'